* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.container{
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: center;
  font-size: 0;

}
#mv {
  width: 100%;
  height: 650px;
  text-align: center;
  color: #FAFAFA;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.logo{
  height: 70px;
}

.nav{
  display: flex;
}
.nav-list{
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}
a {
  text-decoration: none;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav-list a {
  color: #FAFAFA;
}

.mv{
  height: 650px;
  width: 100%;
}
.mv-title{
  padding-top: 200px;
  color: #FAFAFA;
  font-size: 60px;
}
.mv-text{
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}
#portfolio{
  background-color: #ECEFF1;
  width: 100%;
}
.container{
  width: 1024px;
  margin: 0 auto;
}
.heading{
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}
.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}
.heading-text{
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  color: #000000;
  padding-bottom: 30px;
}
.production-group{
  display: flex;
  width: 920px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0 90px 0;
}

.bg-1{
  background-image:url(img/sketch.jpg);
}
.bg-2{
  background-image:url(img/websuku.png);
}
.bg-3{
  background-image:url(img/write.jpg);
}
.bg-4{
  background-image:url(img/webcamp.png);
}
.bg-5{
  background-image:url(img/talk.jpg);
}
.bg-6{
  background-image:url(img/webcamp-mother.png);
}
.production {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin:10px 10px 0 0;
  
}

.production:nth-child(3n) {
  margin-right: 0;
}

.strength-group{
  display: flex;
  width: 980px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0 90px 0;
}
.strength{
  width: 320px;
  height: auto;
  margin:10px 10px 0 0;
  text-align: center;
  font-size: 60px;
}
.strength:nth-child(3n) {
  margin-right: 0;
}
.strength-icon{
  size: 60px;
  text-align: center;
}
.strength-text{
  text-align: left;
  font-size: 16px;
}
.strength-title{
  font-size: 20px;
}

#profile{
  background-color: #ECEFF1;
  width: 100%;
}
.profile-group{
  display: flex;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
  justify-content: center;
}
.left-content{
  width: 50%;
}
.right-content{
  width: 50%;
}
.my-face{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}

.description-title{
  font-size: 20px;

}
.description-text{
  font-size: 16px;
  color: #000000;
  width: 512px;
  padding: 5px 0 20px 0;

}

.contact-group{
  display: flex;
  width: 800px;
  margin: 0 auto;
  padding: 30px 0 90px 0;
}
.left-contact-content{
  width: 130px;
  margin: 0 auto;
}

.description-text{
  padding: 5px 0 20px 0;
}
.contact-icon{
  size: 50px;
}
.right-contact-content{
  width: 400px;
  margin: 0 auto;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  font-size: 16px;
  text-align: center;
  line-height: 70px;
  color: #FAFAFA;
}

@media screen and (max-width:768px) {
  .logo {
    height: 50px;
  }
  .container{
    width: 100%
  }
  #mv{
    background-image: url(img/code.png);
  }
  .menu-box {
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .nav-list {
    display: none;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid gray;
    text-align: center;
    background-color: rgba(0,0,0,.9);
  }
  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }

  .production-group{
    width: 300px;
    
  }
  .bg-1{
    display: none;
  }
  .bg-2{
    background-image:url(img/websuku.png);
  }
  .bg-3{
    display: none;
  }
  .bg-4{
    background-image:url(img/webcamp.png);
  }
  .bg-5{
    display: none;
  }
  .bg-6{
    background-image:url(img/webcamp-mother.png);
  }
  .strength-group{
    flex-flow: row wrap;
    width: 320px;
  }
  .strength{
    width: 90%;
  }
  .profile-group{
    flex-flow: row wrap;
    text-align: center;
    width: 90%;
  }
  
.contact-group{
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
}
.left-content{
  width: 100%;
}

.contact-icon{
  size: 50px;
}
.right-content{
  width: 100%;
}
}